[submodule "JavaScriptAvancado/aula_1/aluraframe/client/js/app-es6/polyfill/fetch"]
	path = JavaScriptAvancado/aula_1/aluraframe/client/js/app-es6/polyfill/fetch
	url = https://github.com/github/fetch.git
